
body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    margin: 0 auto;
    width: auto;
}

a {
    color: hsl(228, 45%, 44%);
}

h1 {
    font-size: 18px;
    color: #000;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

img {
    height: 240px;
    width: 240px;
    border-radius: 13px;
}

section {
    border-radius: 13px;
    padding: 15px 10px;
    display: flexbox;
    /* justify-content: center; */
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    height: 465px;
    width: 250px;
    /* align-items: center; */
    position: absolute;
    top: 20%;
    left: 50%;
}

/* .attribution {
    font-size: 10px;
    text-align: center;
} */