
body {
    max-width: 1440px;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(220, 15%, 55%)
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

h1 {
    font-size: 15px;
    color: #000;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

section {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}