
body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    margin-top: 110px;

}

a {
    color: hsl(228, 45%, 44%);
}

h1 {
    font-size: 18px;
    color: #000;
}

p {
    color: hsl(220, 15%, 55%);
}

.info p {
    font-size: 15px;
    margin-bottom: -5px;
}

.attribution p {
    font-size: 12px;
    line-height: 0.5;
}

img {
    height: 240px;
    width: 240px;
    border-radius: 13px;
}

section {
    background-color: hsl(0, 0%, 100%);
    border-radius: 13px;
    padding: 15px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    height: 450px;
    width: 250px;
}

